body{
  background-color: mistyrose;
  }

* {
  box-sizing: border-box;
}

h1 {
  display: block;
  font-size: 50px;
  text-align: center;
  margin: 10px auto;
}

.announcements{
  display: block;
  font-size: 25px;
  text-align: center;
  margin: 10px auto;
}

.playerNumber{
  width: 30%;
  display: inline-block;
}

.board  {
  display: flex;
  margin: 0 auto;
  width: 720px;
  height: 720px;
  justify-content: center;
}


.grid {
  display: inline-block;
  padding: 0 auto ;
  margin: 0 auto;
  text-align: center;
  background-color: black;
  width: 720px;
  height: 720px;
}

.grid > div {
  display: inline-block;
  background-color: white;
  width: 235px;
  height: 235px;
  border: 2px solid black;
  padding: 10px;
}

.X {
  background-image: url('images/x.gif');
  background-size: 232px 232px;
  background-repeat: no-repeat;
}


.O {
  background-image: url('images/o.gif');
  background-size: 232px 232px;
  background-repeat: no-repeat;
}
